/*lect16*/

/* div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  height: 250px;
  width: 200px;
  background-color: rgb(164, 220, 237);
  border-radius: 21px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input{
  border: none;
  border-radius: 10px;
  text-align: center;
  height: 20px;
  font-family: 'Times New Roman', Times, serif;
}
input::placeholder{
  font-size: 8px;
  font-family: 'Times New Roman', Times, serif;
}
button{
  background-color: rgb(28, 12, 81);
  border: none;
  border-radius: 10px;
  color: white;
  height: 22px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.5s;
}
button:hover{
  box-shadow: rgba(0, 0, 0, 0.713) 0px 2px 4px, rgba(0, 0, 0, 0.551) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.25) translateY(-10px);
} */

/*lect17*/

/* #parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#child{
  height: 550px;
  width: 350px;
  background-color: rgb(219, 227, 230);
  border-radius: 21px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
img{
  height: 50%;
  width:70%;
}
#details{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 95%;
  gap: 0px;
}
button{
  background-color: gold;
  border-radius: 11px;
  border: 0px;
  height: 40px;
  width: 100px;
  margin: 10px auto;
} */

/* lext 19 */

/* #nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
*{
  margin: 0;
  padding: 0;
} */

/* lect 20 */

 #parent{
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#card{
  height: 100px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button{
  background-color: gold;
  height: 40px;
  width: 100px;
  font-size: 24px;
  border-radius: 11px;
  border: 0px;
  cursor: pointer;
}
input{
  font-size: 24px;
  height: 35px;
}
#task{
  border: 1px solid black;
  display: flex;
  gap: 20px;
  width: 500px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 11px;
}
#task button{
  height: 35px;
  background-color: darkblue;
  color: white;
}
span{
  font-size: 32px;
}
#tasks{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* lect19 */

/* #nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
*{
  margin: 0;
  padding: 0;
} */
/* lect22 */

/* #nav{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
*{
  margin: 0;
  padding: 0;
}
#parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#child{
  height: 550px;
  width: 350px;
  background-color: rgb(219, 227, 230);
  border-radius: 21px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
img{
  height: 50%;
  width:70%;
}
#details{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 95%;
  gap: 0px;
}
button{
  background-color: gold;
  border-radius: 11px;
  border: 0px;
  height: 40px;
  width: 100px;
  margin: 10px auto;
} */

/* lect24 */
#root{
  display: flex;
  background-color: rgb(248, 236, 204);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#parent{
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  height: 425px;
  width: 600px;
  align-items: baseline;
}
#head{
  margin-left:50px;
}
p{
  font-size: 20px;
}
#body{
  background-color: rgb(248, 236, 204);
  height: 150px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  border: 1px solid black;
}
#body p{
  height: 125px;
  width: 70%;
}
button{
  height: 50px;
  width: 200px;
  margin: 0px auto;
  border-radius: 30px;
  text-align: center;
  border: 2px solid black;
}